*{
    margin: 0;
    padding: 0;
    border: none;
}

.formContainer{
    background-color: #181C1F;
    width: 23rem;
    max-width: 35rem;
    height: 38rem;
    max-height: 38rem;
    border-radius: 18px;
    padding: 1.3rem 5rem 1.3rem 5rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}